<a href="https://colab.research.google.com/github/rafaelalmeida12/Projetos_Data_Science/blob/master/Introdu%C3%A7%C3%A3o_a_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
notas =pd.read_csv("ratings.csv")
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [0]:
notas.shape

(100836, 4)

In [0]:
notas.columns=["usuarioid","filmeid","nota","momento"]
notas.head()

   usuarioid  filmeid  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [0]:
filmes = pd.read_csv("movies.csv")
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
filmes.columns= "filmeid","titulo","genero"
filmes.head()

   filmeid  ...                                       genero
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

#analisando

In [0]:
#ana

notas.query("filmeid==1").nota.mean()

3.9209302325581397

In [0]:
notas.query("filmeid==2").nota.mean()

3.4318181818181817

In [0]:
notas.groupby("filmeid").mean()["nota"]

filmeid
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: nota, Length: 9724, dtype: float64